<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Travel Agency Responsive Website</title>
     <!-- font awesome cdn link -->
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
     <!-- importing swipper cdn link -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    
     <!-- Importing Css file -->
     <link rel="stylesheet" type="text/css" href="/css/style.css">

    </head>
<body>
   <!-- Header section starts  -->
    <header > 
        <div id="menu-bar" class="fas fa-bars"></div>
        
        <a href="#" class="logo"><span>TRA</span>velia</a>
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#book">book</a>
            <a href="#packages">packages</a>
            <a href="#services">services</a>
            <a href="#gallery">gallery</a>
            <a href="#review">review</a>
            <a href="#contacts">contacts</a>
        </nav>
        <div class="icons">
             <a href="#"><i class="fa-solid fa-magnifying-glass" id = "search-btn"></i></a>
              <button class ="logout-btn"><h3>Log out</h3></button>
              <button class = "login-btn"><a href="/signin"><h3>Sign In</h3></a></button>
        </div>
         <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="search here....">
            <label for="search-bar" class="fa-solid fa-magnifying-glass"></label>
         </form>
    
    </header>

   <!-- Header section ends -->

   <!-- home section starts -->
 <section class="home" id="home">
    <div class="content">
    <h3> Want Refershment!</h3>
    <h3>Plan Your Trip Now</h3>
    <p>Explore Your Dream World With Us</p>
    <a href="#" class="btn">Discover More</a>
    </div>
    <div class="swiper home-slider"></div>
    <div class="controls">
        <span class="vid-btn active" data-src="image/vid-0.mp4"></span>
        <span class="vid-btn" data-src="image/vid-7.mp4"></span>
        <span class="vid-btn" data-src="image/vid-2.mp4"></span>
        <span class="vid-btn" data-src="image/vid-3.mp4"></span>
        <span class="vid-btn" data-src="image/vid-1.mp4"></span>
        <span class="vid-btn" data-src="image/vid-5.mp4"></span>
    </div>
    <div class="video-container">
         <video src="image/vid-0.mp4" id="video-slider" loop autoplay muted></video>
     </div>
</div>
</section>
<!-- home section ends -->

  <!-- book section starts -->
 <section class="book" id="book">
    <h1 class="heading">
        <span>b</span>
        <span>o</span>
        <span>o</span>
        <span>k</span>
        <span class="space"></span>
        <span>n</span>
        <span>o</span>
        <span>w</span>
    </h1>

    <div class="row">
        <div class="image">
            <img src="image/img-1.jpg" alt="" width="auto" height="auto">
        </div>
        <form action ="">
            <div class="inputBox">
                <h2>where to</h2>
                <input type ="text" placeholder=" your dream place name">
             </div>
             <div class="inputBox">
                <h2>how many</h2>
                <input type ="number" placeholder="number of guests">
             </div>
             <div class="inputBox">
                <h2>Exploring Day</h2>
                <input type ="date">
             </div>
             <div class="inputBox">
                <h2>Come Back</h2>
                <input type ="date">
             </div>
                 <a href="https://book.stripe.com/test_eVa3fB49s1V8at2dQS" class="btn">book now</a>
        </form>
    </div>
 </section>

  <!-- book section ends  -->

  <!-- packages section starts -->
     <section class="packages" id="packages">
        <h1 class="heading">
            <span>p</span>
            <span>a</span>
            <span>c</span>
            <span>k</span>
            <span>a</span>
            <span>g</span>
            <span>e</span>
            <span>s</span>
        </h1>
        
       <div class="box-container">
         <div class="box">
            <img src="image/white-concrete-structure-beside-body-water.jpg" alt="  "width="400" height="300" >
            <div class="content">
                <h3><i class="fas fa-map-marker-alt">NEW ZEALAND</i></h3> 
                <p>Lorem ipsum dolor sit amet</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i> 
                </div>
                <div class="price">$90.00<span>$120.00</span></div>
                 <a href="https://book.stripe.com/test_eVa3fB49s1V8at2dQS" class="btn">book now</a>
                   </div>
               </div> 
                 
                <div class="box">
                   <img src="image/img-2.jpg" alt=""width="400" height="300"  >
                   <div class="content">
                       <h3><i class="fas fa-map-marker-alt">SCOTLAND</i></h3> 
                       <p>Lorem ipsum dolor sit amet</p>
                       <div class="stars">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="far fa-star"></i> 
                       </div>
                       <div class="price">$90.00<span>$120.00</span></div>
                        <a href="https://book.stripe.com/test_eVa3fB49s1V8at2dQS" class="btn">book now</a>
                          </div>
                      </div> 
                     
                        <div class="box">
                           <img src="https://cdn.mos.cms.futurecdn.net/748ozYP2QSvu5cEZiW5gFA-1200-80.jpg" alt=" "width="400" height="300" >
                           <div class="content">
                               <h3><i class="fas fa-map-marker-alt">GREECE</i></h3> 
                               <p>Lorem ipsum dolor sit amet</p>
                               <div class="stars">
                                   <i class="fas fa-star"></i>
                                   <i class="fas fa-star"></i>
                                   <i class="fas fa-star"></i>
                                   <i class="fas fa-star"></i>
                                   <i class="far fa-star"></i> 
                               </div>
                               <div class="price">$90.00<span>$120.00</span></div>
                                <a href="https://book.stripe.com/test_eVa3fB49s1V8at2dQS" class="btn">book now</a>
                                  </div>
                              </div> 
                              
                                <div class="box">
                                   <img src="https://cdn.mos.cms.futurecdn.net/RwPk69HFQrWUH6o75tfgqc-1200-80.jpg" alt=" "width="400" height="300" >
                                   <div class="content">
                                       <h3><i class="fas fa-map-marker-alt">CHINA</i></h3> 
                                       <p>Lorem ipsum dolor sit amet</p>
                                       <div class="stars">
                                           <i class="fas fa-star"></i>
                                           <i class="fas fa-star"></i>
                                           <i class="fas fa-star"></i>
                                           <i class="fas fa-star"></i>
                                           <i class="far fa-star"></i> 
                                       </div>
                                       <div class="price">$90.00<span>$120.00</span></div>
                                        <a href="https://book.stripe.com/test_eVa3fB49s1V8at2dQS" class="btn">book now</a>
                                          </div>
                                      </div>
                                     
                                        <div class="box">
                                           <img src="https://cdn.mos.cms.futurecdn.net/PmmNbigh9Ln2wwZP2kNKhY-1200-80.jpg" alt=" "width="400" height="300"  >
                                           <div class="content">
                                               <h3><i class="fas fa-map-marker-alt">PRAGUE</i></h3> 
                                               <p>Lorem ipsum dolor sit amet</p>
                                               <div class="stars">
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="fas fa-star"></i>
                                                   <i class="far fa-star"></i> 
                                               </div>
                                               <div class="price">$90.00<span>$120.00</span></div>
                                                <a href="https://book.stripe.com/test_eVa3fB49s1V8at2dQS" class="btn">book now</a>
                                                  </div>
                                              </div>  
                                        
                                                <div class="box">
                                                   <img src="https://cdn.mos.cms.futurecdn.net/jkQNZrQg4PayG9eayXfhSo-1200-80.jpg" alt=""width="400" height="300"   >
                                                   <div class="content">
                                                       <h3><i class="fas fa-map-marker-alt">AUSTRALIA</i></h3> 
                                                       <p>Lorem ipsum dolor sit amet</p>
                                                       <div class="stars">
                                                           <i class="fas fa-star"></i>
                                                           <i class="fas fa-star"></i>
                                                           <i class="fas fa-star"></i>
                                                           <i class="fas fa-star"></i>
                                                           <i class="far fa-star"></i> 
                                                       </div>
                                                       <div class="price">$90.00<span>$120.00</span></div>
                                                        <a href="https://book.stripe.com/test_eVa3fB49s1V8at2dQS" class="btn">book now</a>
                                                          </div>
                                                      </div>   
                                           
                                                        <div class="box">
                                                           <img src="https://cdn.mos.cms.futurecdn.net/fs5rJxVnkbrumyJyfQ8tQg-1200-80.jpg" alt=" "width="400" height="300"  >
                                                           <div class="content">
                                                               <h3><i class="fas fa-map-marker-alt">SEYCHELLES</i></h3> 
                                                               <p>Lorem ipsum dolor sit amet</p>
                                                               <div class="stars">
                                                                   <i class="fas fa-star"></i>
                                                                   <i class="fas fa-star"></i>
                                                                   <i class="fas fa-star"></i>
                                                                   <i class="fas fa-star"></i>
                                                                   <i class="far fa-star"></i> 
                                                               </div>
                                                               <div class="price">$90.00<span>$120.00</span></div>
                                                                <a href="https://book.stripe.com/test_eVa3fB49s1V8at2dQS" class="btn">book now</a>
                                                                  </div>
                                                              </div>    
                                             
                                                                <div class="box">
                                                                   <img src="https://cdn.mos.cms.futurecdn.net/JR7Z6dCKUmSj5UQrQEDcnD-1200-80.jpg" alt=""width="400" height="300"  >
                                                                   <div class="content">
                                                                       <h3><i class="fas fa-map-marker-alt"> ALEUTIAN ISLANDS</i></h3> 
                                                                       <p>Lorem ipsum dolor sit amet</p>
                                                                       <div class="stars">
                                                                           <i class="fas fa-star"></i>
                                                                           <i class="fas fa-star"></i>
                                                                           <i class="fas fa-star"></i>
                                                                           <i class="fas fa-star"></i>
                                                                           <i class="far fa-star"></i> 
                                                                       </div>
                                                                       <div class="price">$90.00<span>$120.00</span></div>
                                                                        <a href="https://book.stripe.com/test_eVa3fB49s1V8at2dQS" class="btn">book now</a>
                                                                          </div>
                                                                      </div>
                                                               
                                                                      <div class="box">
                                                                        <img src="https://cdn.mos.cms.futurecdn.net/N4qxuQ7mpVcwLUdoujNjmJ-1200-80.jpg" alt="" width="400" height="300" >
                                                                        <div class="content">
                                                                            <h3><i class="fas fa-map-marker-alt">MACHU PICCHU</i></h3> 
                                                                            <p>Lorem ipsum dolor sit amet</p>
                                                                            <div class="stars">
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="far fa-star"></i> 
                                                                            </div>
                                                                            <div class="price">$90.00<span>$120.00</span></div>
                                                                             <a href="https://book.stripe.com/test_eVa3fB49s1V8at2dQS" class="btn">book now</a>
                                                                               </div>
                                                                           </div> 
                                                                
                                                                                                                                                              

                              
                              
       </div>

     </section>
 <!-- packages section ends -->

 <!-- service section starts -->
  <section class="services" id="services">
    <h1 class="heading">
        <span>s</span>
        <span>e</span>
        <span>r</span>
        <span>v</span>
        <span>i</span>
        <span>c</span>
        <span>e</span>
        <span>s</span>
    </h1>
    <div class="box-container">
        <div class="box">
            <i class="fas fa-hotel"></i>
            <h3>affordable stay home</h3>
            <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
        </div>
        <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>delicious food & fresh drinks</h3>
            <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
        </div>
        <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3>companion guide</h3>
            <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
        </div>
        <div class="box">
            <i class="fas fa-globe-asia"></i>
            <h3>around the world</h3>
            <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
        </div>
        <div class="box">
            <i class="fas fa-plane"></i>
            <h3>fastest travel</h3>
            <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
        </div>
        <div class="box">
            <i class="fas fa-hiking"></i>
            <h3>adventures</h3>
            <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
        </div>
    </div>
  </section>
 <!-- service section ends -->

<!-- gallery section starts -->
<section class="gallery" id="gallery">
    <h1 class="heading">
        <span>g</span>
        <span>a</span>
        <span>l</span>
        <span>l</span>
        <span>e</span>
        <span>r</span>
        <span>y</span>
    </h1>
   
                 <div class="box-container">
                    <div class="box">
                        <img src="image/g-7.jpg" alt="" >
                        <div class="content">
                            <h3>amazing places</h3>
                            <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
                            <a href="#" class="btn">want more</a>
                        </div>
                    </div>  
                 
                       <div class="box">
                            <img src="image/g-8.jpg" alt="" >
                            <div class="content">
                                <h3>amazing places</h3>
                                <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
                                <a href="#" class="btn">want more</a>
                            </div>
                        </div> 
                        
                          <div class="box">
                                <img src="image/g-9.jpg" alt="" >
                                <div class="content">
                                    <h3>amazing places</h3>
                                    <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
                                    <a href="#" class="btn">want more</a>
                                </div>
                            </div> 
                       
                          <div class="box">
                                    <img src="image/g-1.jpg" alt="" >
                                    <div class="content">
                                        <h3>amazing places</h3>
                                        <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
                                        <a href="#" class="btn">want more</a>
                                    </div>
                                </div>
                           
                                
                                    <div class="box">
                                        <img src="image/g-2.jpg" alt="" >
                                        <div class="content">
                                            <h3>amazing places</h3>
                                            <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
                                            <a href="#" class="btn">want more</a>
                                        </div>
                                    </div>
                                 
                         
                                        <div class="box">
                                            <img src="image/g-3.jpg" alt="" >
                                            <div class="content">
                                                <h3>amazing places</h3>
                                                <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
                                                <a href="#" class="btn">want more</a>
                                            </div>
                               </div> 
                                   <div class="box">
                                    <img src="image/g-4.jpg" alt="" >
                                    <div class="content">
                                        <h3>amazing places</h3>
                                        <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
                                        <a href="#" class="btn">want more</a>
                                    </div>
                                </div>
                           
                                 <div class="box">
                                        <img src="image/g-5.jpg" alt="" >
                                        <div class="content">
                                            <h3>amazing places</h3>
                                            <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
                                            <a href="#" class="btn">want more</a>
                                        </div>
                                    </div>
                                
                            
                                <div class="box">
                                    <img src="image/g-6.jpg" alt="" >
                                    <div class="content">
                                        <h3>amazing places</h3>
                                        <p>Lorem ipsum dolor sit amet rerum ex cum?</p>
                                        <a href="#" class="btn">want more</a>
                                    </div>
                                </div>     
    </div>
</section>
<!-- gallery section ends -->

<!-- review section starts -->
<section class="review" id="review">
    <h1 class="heading">
        <span>r</span>
        <span>e</span>
        <span>v</span>
        <span>i</span>
        <span>e</span>
        <span>w</span>
        <span>s</span>
    </h1>
    <div class="swiper review-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="box">
                    <img src="image/r-0.jpg" alt="">
                    <h3>jhon klod</h3>
                    <p>My TRAVELIA experience surpassed all expectations. From seamless logistics to curated local adventures, every moment felt tailor-made. Grateful for a journey that left me enriched and inspired.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>     
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="image/r-5.jpg" alt="">
                    <h3>loiusa poytum</h3>
                    <p>A journey that lingers.TRAVELIA, with their meticulous planning, seamless execution, insightful local experiences, and indelible memories, turned my wanderlust dreams into a vivid and lingering journey of a lifetime.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>     
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="image/r-2.jpg" alt="">
                    <h3>lorw porf</h3>
                    <p>Sharing my remarkable TRAVELIA experience feels essential. Expertly crafted itinerary, seamless organization, and genuine care made this journey unforgettable. Each destination felt like a new chapter, woven into my story.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>     
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="image/r-6.jpg" alt="">
                    <h3>mobik tylor</h3>
                    <p>TRAVELIA brilliantly transformed my travel fantasies into a tangible reality. With meticulous planning and genuine local encounters, every day was an adventure. Their touch ensured an unforgettable journey that will resonate for years to come.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>     
                </div>
            </div>

        </div>
    </div>
</section>
<!-- review section ends -->

<!-- contact section starts  -->
   <section class="contacts" id="contacts">
      <h1 class="heading">
        <span>c</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>a</span>
        <span>c</span>
        <span>t</span>
       </h1>
    <div class="row">
        <div class="image">
            <img src="image/c-1.jpg" alt="">
        </div>
        <form action="">
            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="number">
                <input type="text" placeholder="subject">
            </div>
            <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>
            <input type="submit" class="btn" value ="send message">
        </form>
    </div>
   </section>
<!-- contact section ends -->

<!-- brand section starts -->
 <section class="brand-container">
    <h1 class="heading">
        <span>p</span>
        <span>a</span>
        <span>r</span>
        <span>t</span>
        <span>n</span>
        <span>e</span>
        <span>r</span>
        <span>s</span>
       </h1>
        <div class="swiper-container brand-slider">
            <div class="swiper-wrapper">
                 <div class="swiper-slide"><img src="image/taj-air-vector-logo.jpg" alt="" width="130" height="130"> </div>
                 <div class="swiper-slide"><img src="image/indigo-vector-logo-2022.jpg" alt="" width="130" height="130"> </div>
                 <div class="swiper-slide"><img src="image/the-hiramatsu-hotels-and-resorts-atami-vector-logo.jpg" alt="" width="130" height="130"> </div>
                 <div class="swiper-slide"><img src="image/sunexpress-vector-logo.jpg" alt=" "width="130" height="130"> </div>
                 <div class="swiper-slide"><img src="image/windstar-cruises-vector-logo.jpg" alt=" "width="130" height="130"> </div>
                  </div>
        </div>
 </section>
<!-- brand section ends -->
 <!-- footer section stars -->
   <section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>about us</h3>
            <p>Welcome to TRAVELIA Tourism Company! We are your gateway to unforgettable journeys and immersive travel experiences. With a passion for exploration, we curate exceptional trips that blend culture, adventure, and relaxation. Our dedicated team of experts is committed to crafting personalized itineraries that cater to your unique preferences and desires. Whether you're a solo traveler seeking new horizons, a couple on a romantic getaway, or a family looking to create lasting memories, TRAVELIA is here to make your dream vacation a reality. Embark on a journey of discovery with us and let the world become your playground. Your adventure starts here, at TRAVELIA.</p>
        </div>
        <div class="box">
            <h3>branch locations</h3>
            <a href="#">india</a>
            <a href="#">USA</a>
            <a href="#">England</a>
            <a href="#">Germany</a>
            <a href="#">Japan</a>
            <a href="#">Switzerland</a>
        </div>
        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#book">book</a>
            <a href="#packages">packages</a>
            <a href="#services">services</a>
            <a href="#gallery">gallery</a>
            <a href="#review">review</a>
            <a href="#contacts">contacts</a>
         </div>
         <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">twitter</a>
            <a href="#">linkedin</a>
           </div>
    </div>
    <a href="https://www.linkedin.com/in/avijh01"><h1 class="credit"> created by <span>@vinash jha</span>| all rights reserved!</h1></a> 
   </section>
 <!-- footer section ends -->




   
    
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- Import js file    -->
  <script src="script.js"></script>
 
 

</body>
</html>